.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.logo{
    width: 105px;
    height: 60px;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
a{
    text-decoration: none;
    color: #8987A1;
}
li{
    list-style: none;
}
.li2{
 
    font-weight: 400;
    font-size: 16px;
}
.li1{
    color: black;
    font-weight: 700;
    font-size: 16px;
}
.li3{
    font-weight: 400;
    font-size: 16px;
    color: black;
}
i{
    position: relative;
    right: -45px;
    bottom: -2px;
    margin: 0;
}
.banner{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
    margin: 0;  
}
.banner-info{
    font-weight: 400;
    font-size: 20px;
    color: #00000080;
}
.banner-img{
    width: 480px;
}












@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    .header{        
        margin-left: 8px;
        margin-right: 8px;
    }
    .body{
        overflow-x: hidden;
    } 
    .header{
        overflow-x: hidden;
    } 
    .banner{
        flex-direction: column-reverse;

    }   
    .banner-img{
        width: 380px;
        height: 220px;
    }
    .banner-title{
        font-size: 22px;
        margin-top: 25px;
    }
    .banner-info{
        font-size: 14px;
        margin: 0;
    }

}